body {
    background-image: url(./bg.png);
    background-size: cover, contain;
    height: 100vh;
    /* backdrop-filter: blur(3px); */
}

#container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
