.titleContainer {
    width: 600px;
    margin: 0 auto; /* This will center your container */
    text-align: center; /* This centers the text inside the #Title element */
}
#nameInput {
    width: 300px;
    margin: 30px 0 30px 0;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(255, 226, 226, 0.3);
    backdrop-filter: blur(10px);
    animation: flyTopToBottom 0.3s ease forwards;
    color: white;
    font-size: 15px;
}

#date {
    font-size: 35px;
    transition: 0.2s;
    width: 600px;
    text-align: center;
    color: rgba(255, 226, 226, 0.5);
    margin: -15px 0 0 0;
}

#Title {
    font-size: 35px;
    transition: 0.2s;
    width: 600px;
    text-align: center;
    color: rgba(255, 226, 226, 0.5);
}

#Title:hover {
    font-size: 34px;
    transition: 0.2s;
    color: rgba(255, 226, 226, 0.9);
}

#time {
    font-size: 100px;
    color: rgba(255, 226, 226, 0.7); /* Solid color for clear text */
    position: relative; /* Establish relative positioning */
    background-clip: padding-box; /* Ensures the background extends only to the padding edge */
    padding: 10px; /* Add some padding to create space for the blurry background */
    display: inline; /* Align the block more tightly around the text */
    border: 2px solid rgba(255, 226, 226, 0.7); /* Your specific text border */
    border-radius: 10px; /* Optional: if you want rounded edges */
    transition: 0.2s;
    padding-bottom: 40px;
}

#time:hover {
    font-size: 105px;
    color: rgba(255, 226, 226, 0.9);
    transition: 0.2s;
}

#time::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin: -10px; /* Same as padding to extend background edge */
    backdrop-filter: blur(10px); /* Blurry effect for the background */
    border-radius: 10px; /* Optional: if you want rounded edges */
}

#time::after {
    content: "";
    position: absolute;
    top: -2px; /* Adjust to the size of your border */
    left: -2px; /* Adjust to the size of your border */
    right: -2px; /* Adjust to the size of your border */
    bottom: -2px; /* Adjust to the size of your border */
    pointer-events: none;
    z-index: 1;
    border-radius: 10px; /* Optional: if you want rounded edges */
}

@keyframes flyTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
